/* App.css */
html, body {
  height: 100%;
  margin: 0;
  color: #000000;
}

body {
  background-image: url('./assets/OnImage.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 20px;
}

.container {
  width: 70%;
  max-width: 600px;
  margin-top: 20px;
  text-align: center;
  position: relative;
}

.container img {
  width: 100%;
  height: auto;
}

/* Ajuste a largura do parágrafo para corresponder à largura das imagens */
.container p {
  width: 100%;
  margin-top: 10px; /* Adicione espaço superior para separar o texto das imagens */
}

.slick-prev, .slick-next {
  color: #FFFFFF;
}

@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}

