/* App.css */
html, body {
  height: 100%;
  margin: 0;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-image: url('./assets/OnImage.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  min-height: 100%;
}

h1 {
  position: absolute;
  top: 15px;
  left: 15px;
  margin: 0;
}

.container {
  width: 70%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.container img {
  width: 100%;
  height: auto;
}

.slick-prev, .slick-next {
  color: #FFFFFF; /* Ajuste a cor das setas de navegação se necessário */
}

@media (max-width: 600px) {
  .container {
    width: 90%;
  }

  h1 {
    top: 10px;
    left: 10px;
    font-size: 1.5em;
  }

  .container {
    padding: 10px;
  }
}
