/* App.css */
body {
  background-image: url('./assets/OnImage.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  font-family: 'Inter', sans-serif; /* Aplicando a fonte "Inter" ao corpo do documento */
  color: #000000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-family: 'Dancing Script', cursive; /* Aplicando a fonte "Dancing Script" ao h1 */
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 0;
}

.container {
  width: 70%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.container img {
  width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  .container {
    width: 90%;
  }

  h1 {
    top: 10px;
    left: 10px;
    font-size: 1.5em;
  }

  .container {
    padding: 10px;
  }
}
